*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

ul{
    display:flex;
}


body {
   /* background-image:url(./assest/bg.jpg);
    background:top center;
    background-size:100% auto;
    background-repeat:no-repeat;*/
    background-color: #121214; 
}

 /*   background: linear-gradient(rgb(2, 2, 2) 0%, rgb(61, 33, 115) 50%);  */
 

body{
    font-family: 'inter', sans-serif;
    line-height: 160%;
}

header {
    padding: 32px;
    text-align: center;
    height: calc(120px + 32px)
}

header div{
    width: 120px;
    margin: auto;
    background-image: linear-gradient(90deg,rgb(71, 71, 225) 0%,  rgba(210, 33, 210, 0.742) 90%);
   
    border-radius: 50%;

    display: flex;
    padding: 4px;

    transition: transform .3s;
}

header div:hover{
    transform:scale(1.1)
}

header div img{
    width: 100%;
    border-radius: 50%;
}

main{
    margin: center;
}

main {
    max-width: 580px;
    width: 90%;
    margin: 32px auto;  

    display: grid;
    gap: 24px;

}

section{
    color: rgb(216, 212, 212);
    
    background-image: linear-gradient(90deg,rgb(71, 71, 225) 0%,  rgba(210, 33, 210, 0.742) 100%);
    
/*  bg-img: linear-gradient(90deg,blue 0%,  purple 100%);  p fazer um background/borda com gradiente */
    padding-top: 4px;
    border-radius: 10px;
}

section div{
    background-color: #201d27;
    padding: 32px;
    padding-top: 32px;
    border-radius: 8px;

/*   border-top: 4px solid #a1a1aa;                   p fazer uma borda c cor sólida */
}

section h2{
    letter-spacing: -0,47px;
}

section p{
    letter-spacing: -0,18;
    color: #a1a1aa;
}

section ul{
    display: flex;

    gap: 16px;
    margin-top: 24px;
}

section ul li{
    transition: transform .3s;
}

section ul li:hover{
    transform:scale(1.1)
}

.series-list img{
    width: 170px;
    border-radius: 8px;
}

.filmes-list img{
    width: 170px;
    border-radius: 8px;
}


/*aq o mark botou outro elemento ".channel-list" (q foram os canais de streamrs) 
    border-radius: 50%;
    width: 70px;
    border: 1px solid #443e54
    deixou as fotos bem arredondadinhas e fofinhas, vou pensar mais*/



/* anotações: */





/*animação*/


header div{
    animation: fromTop .7s .2s backwards;
}

main section {
    animation: fromBottom .7s backwards;
}

main section:nth-child(1){
    animation-delay: 0;
}

main section:nth-child(2){
    animation-delay: .3s;
}

/*
main section:nth-child(3){
    animation-delay: .6s;
}
*/

@keyframes fromtop{
  
    from{
        opacity: 0;
        transform:translateY(-30px)
    }

    to{
        opacity: 1;
        transform: translateY(0)
    }
}   


@keyframes fromBottom{

    from{
        opacity: 0;
        transform:translateX(-30px)
    }

    to{
        opacity: 1;
        transform: translateX(0)
    }
}